.fotografia1{
    width: 100%
}   

.botonverhome:link
{
    color: #ffffff;
    text-decoration: none;
}

.botonverhome:visited
{
    color: #ffffff;
    text-decoration: none;
}

.botonverhome:hover
{
    color: #ffffff;
    text-decoration: none;
}

.botonverhome:active
{
    color: #ffffff;
    text-decoration: none;
}
