.fotografia1{
    width: 100%
}   

.boton {
    color: #fff;
}

.nuevolibroad:link
{
    color: #ffffff;
    text-decoration: none;
}

.nuevolibroad:visited
{
    color: #ffffff;
    text-decoration: none;
}

.nuevolibroad:hover
{
    color: #ffffff;
    text-decoration: none;
}

.nuevolibroad:active
{
    color: #ffffff;
    text-decoration: none;
}

.nuevolibroad2:link
{
    color: #ffffff;
    text-decoration: none;
}

.editad:link
{
    color: #ffffff;
    text-decoration: none;
}

.editad:visited
{
    color: #ffffff;
    text-decoration: none;
}

.editad:hover
{
    color: #ffffff;
    text-decoration: none;
}

.editad:active
{
    color: #ffffff;
    text-decoration: none;
}

.boton:link
{
    color: #ffffff;
    text-decoration: none;
}

.boton:visited
{
    color: #ffffff;
    text-decoration: none;
}

.boton:hover
{
    color: #ffffff;
    text-decoration: none;
}

.boton:active
{
    color: #ffffff;
    text-decoration: none;
}